html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

body {		
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	margin: 0px auto;
	background-color: white;
	color: #5c5b5b;
	min-width: 17em;
}

/* ! Headers  */
/* --------------------------------------------------------------------------------- 
*/
h1, h2, h3, h4, h5 {
	margin: 0.75em 0 0.25em 0;
}

h1 {
	font-size: 3em;  
	line-height: 1.25em;
	margin: 0.25em 0px;
	font-weight: normal;
	text-align: center;
	color: #fff;
	background-color: #65A8A1;
	padding: 1em 0;
	margin: 1em 0;
}
h2 {
	font-size: 2.5em;
}
h3 {
font-size: 2em;
}
h4.strong {
	font-size: 1.5em;
	color: #e85f04;     
	font-weight: bold;     
}


/*--------------  NAVIGATION  --------------*/
#menuOpen {
    background-color: #e85f04;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 27px;
    margin-right: 1em;
    overflow: hidden;
    padding: 1em;
    position: absolute;
    right: 0;
    text-decoration: none;
    z-index: 100000;
}
#menuClose,
#menuClose:focus {
	float: right;
	height: 21px;
	margin-top: 11px;
	overflow: hidden;
	position: absolute;
	right: 12px;
	text-indent: -90px;
	top: 2px;
	width: 22px;
	background:  url(img/mobile-sprite.png) left -980px no-repeat; 				
	cursor: pointer;
}
#menu-wrap {
	background-color: transparent;
	bottom: 0;
	position: absolute;
	top: 0;
	z-index: 10000;
	right: 0em;
}
#menu { 
	background-color: #65A8A1;
	bottom: 0;
	overflow-y: auto;
	padding: 28px 0px;
	position: absolute;
	top: 0px;
	transition: all 0.2s cubic-bezier(0.34, 0.95, 0.27, 0.98) 0s;
	width: 17em;
	height: 100%;
	z-index: 1000;	
	display: none;
	right: -17em;
}
#menu ul { 
	list-style: none;
}
#menu li a {
	display: block;
	padding: 0.7em 2em;
	border-bottom: 1px solid white;
	color: white;
	text-decoration: none;
	font-size: 1.3em;
}
#menu #lang {
	margin-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid white;
}
#menu #lang li a {
	border-bottom: 0 none;
	padding: 0.5em 3em;
	font-size: 1.1em;
}
.nav-open {
	z-index: 5000;
}

.mainPage {
	position: relative;
	transition:all .2s cubic-bezier(.34,.95,.27,.98);
	-moz-transition:all .2s cubic-bezier(.34,.95,.27,.98);
	-webkit-transition:all .2s cubic-bezier(.34,.95,.27,.98);
	-ms-transition:all .2s cubic-bezier(.34,.95,.27,.98);
	left: 0;	
	padding: 2em 1em;
}
.mainPage.nav-open {
	left: -17em;
}

#top-header {
	width: 100%;
	float: left;
	/* margin-bottom: 1em; */
}

.logo {
	float: left;
	margin: 0 1em 2em 0;

}
.logo img {
	max-width: 9em;          
}

#menuLangOpen {
	float: right;
	overflow: hidden;
	width: 35px;
	height: 28px;
	background:  url(img/mobile-sprite.png) left -42px no-repeat; 
}
.lang-open {
	background-color: #D9261C;
}
.lang-open #menuLangOpen {
	background-position: left -214px;
}
.footer {
	background-color: #65A8A1;
	padding: 10px 10px 5px 10px;
	color: white;	 
	bottom: 0;
	min-height: 1em;       
}

.box-img {
	clear: both;
	margin: 1em 1em 1em 0;
}
.box-img > a > img {
	width: 20em;
	clear: both;
}
pre, code, xmp {
    font-family: Consolas,Monaco,"Courier New",Courier,monospace;
    font-size: 12px;
    font-weight: inherit;
    margin-bottom: 22px;
    overflow-x: auto;
    white-space: pre-line;
    word-wrap: break-word;
}
pre {
    background: none repeat scroll 0 0 #f3f3f7;
    border: 1px solid #dedee3;
    line-height: 1.3em;
    padding: 11px;
    margin: 1.5em 0;
}
.ui-accordion .ui-accordion-content {
	height: auto!important;                                    
}
#accordion {
	margin: 2em 0;           
}

